:root {
  --ac-core-accent-color_accent-primary: #e33b25;
  --ac-core-accent-color_accent-primary-hover: #eb7566;
  --ac-core-accent-color_accent-secondary: transparent;
  --ac-core-accent-color_accent-secondary-hover: transparent;
  --ac-core-accent-color_accent-tertiary: transparent;
  --ac-core-accent-color_accent-tertiary-hover: transparent;
  --ac-core-neutral-color_neutral-primary: #F4F4EF;
  --ac-core-neutral-color_neutral-secondary: #E3E3D7;
  --ac-core-neutral-color_neutral-inverse: #151617;
  --ac-core-color-tint_accent-primary-a10: hsla(6.766917293233079, 76.88%, 66.08%, 0.10);
  --ac-core-color-tint_accent-primary-a20: hsla(6.766917293233079, 76.88%, 66.08%, 0.20);
  --ac-core-color-tint_accent-primary-a30: hsla(6.766917293233079, 76.88%, 66.08%, 0.30);
  --ac-core-color-tint_accent-primary-a40: hsla(6.766917293233079, 76.88%, 66.08%, 0.40);
  --ac-core-color-tint_accent-primary-a50: hsla(6.766917293233079, 76.88%, 66.08%, 0.50);
  --ac-core-color-tint_accent-primary-a60: hsla(6.766917293233079, 76.88%, 66.08%, 0.60);
  --ac-core-color-tint_accent-primary-a70: hsla(6.766917293233079, 76.88%, 66.08%, 0.70);
  --ac-core-color-tint_accent-primary-a80: hsla(6.766917293233079, 76.88%, 66.08%, 0.80);
  --ac-core-color-tint_accent-primary-a90: rgba(227, 59, 37, 0.9);
  --ac-core-color-tint_accent-secondary-a10: transparent;
  --ac-core-color-tint_accent-secondary-a20: transparent;
  --ac-core-color-tint_accent-secondary-a30: transparent;
  --ac-core-color-tint_accent-secondary-a40: transparent;
  --ac-core-color-tint_accent-secondary-a50: transparent;
  --ac-core-color-tint_accent-secondary-a60: transparent;
  --ac-core-color-tint_accent-secondary-a70: transparent;
  --ac-core-color-tint_accent-secondary-a80: transparent;
  --ac-core-color-tint_accent-secondary-a90: transparent;
  --ac-core-color-tint_accent-tertiary-a10: transparent;
  --ac-core-color-tint_accent-tertiary-a20: transparent;
  --ac-core-color-tint_accent-tertiary-a30: transparent;
  --ac-core-color-tint_accent-tertiary-a40: transparent;
  --ac-core-color-tint_accent-tertiary-a50: transparent;
  --ac-core-color-tint_accent-tertiary-a60: transparent;
  --ac-core-color-tint_accent-tertiary-a70: transparent;
  --ac-core-color-tint_accent-tertiary-a80: transparent;
  --ac-core-color-tint_accent-tertiary-a90: transparent;
  --ac-core-color-tint_neutral-primary-a10: rgba(244, 244, 239, 0.1);
  --ac-core-color-tint_neutral-primary-a20: rgba(244, 244, 239, 0.2);
  --ac-core-color-tint_neutral-primary-a30: rgba(244, 244, 239, 0.3);
  --ac-core-color-tint_neutral-primary-a40: rgba(244, 244, 239, 0.4);
  --ac-core-color-tint_neutral-primary-a50: rgba(244, 244, 239, 0.5);
  --ac-core-color-tint_neutral-primary-a60: rgba(244, 244, 239, 0.6);
  --ac-core-color-tint_neutral-primary-a70: rgba(244, 244, 239, 0.7);
  --ac-core-color-tint_neutral-primary-a80: rgba(244, 244, 239, 0.8);
  --ac-core-color-tint_neutral-primary-a90: rgba(244, 244, 239, 0.9);
  --ac-core-color-tint_neutral-inverse-a10: rgba(21, 22, 23, 0.1);
  --ac-core-color-tint_neutral-inverse-a20: rgba(21, 22, 23, 0.2);
  --ac-core-color-tint_neutral-inverse-a30: rgba(21, 22, 23, 0.3);
  --ac-core-color-tint_neutral-inverse-a40: rgba(21, 22, 23, 0.4);
  --ac-core-color-tint_neutral-inverse-a50: rgba(21, 22, 23, 0.5);
  --ac-core-color-tint_neutral-inverse-a60: rgba(21, 22, 23, 0.6);
  --ac-core-color-tint_neutral-inverse-a70: rgba(21, 22, 23, 0.7);
  --ac-core-color-tint_neutral-inverse-a80: rgba(21, 22, 23, 0.8);
  --ac-core-color-tint_neutral-inverse-a90: rgba(21, 22, 23, 0.9);
  --ac-background-color_bg-primary: var(--ac-core-neutral-color_neutral-primary);
  --ac-background-color_bg-secondary: var(--ac-core-neutral-color_neutral-secondary);
  --ac-background-color_bg-accent-primary: var(--ac-core-accent-color_accent-primary);
  --ac-background-color_bg-accent-secondary: var(--ac-core-accent-color_accent-secondary);
  --ac-background-color_bg-accent-tertiary: var(--ac-core-accent-color_accent-tertiary);
  --ac-background-color_bg-inverse: var(--ac-core-neutral-color_neutral-inverse);
  --ac-background-color_bg-overlay: var(--ac-core-neutral-color_neutral-inverse);
  --ac-text-color_text-primary: var(--ac-core-neutral-color_neutral-inverse);
  --ac-text-color_text-secondary: var(--ac-core-color-tint_neutral-inverse-a60);
  --ac-text-color_text-inverse-primary: var(--ac-core-neutral-color_neutral-primary);
  --ac-text-color_text-inverse-secondary: var(--ac-core-color-tint_neutral-primary-a60);
  --ac-text-color_text-on-accent-primary: #F4F4EF;
  --ac-text-color_text-on-accent-secondary: #eb7566;
  --ac-text-color_text-on-accent-tertiary: #eb7566;
  --ac-text-color_text-accent-on-primary: #eb7566;
  --ac-text-color_text-accent-on-primary-hover: hsla(6.766917293233079, 76.88%, 66.08%, 0.60);
  --ac-text-color_text-accent-on-inverse: #eb7566;
  --ac-text-color_text-accent-on-inverse-hover: hsla(6.766917293233079, 76.88%, 66.08%, 0.60);
  --ac-text-color_text-on-overlay: var(--ac-core-neutral-color_neutral-primary);
  --ac-border-color_border-primary: var(--ac-core-color-tint_neutral-inverse-a10);
  --ac-border-color_border-secondary: var(--ac-core-color-tint_neutral-inverse-a20);
  --ac-border-color_border-inverse-primary: var(--ac-core-color-tint_neutral-primary-a20);
  --ac-border-color_border-inverse-secondary: var(--ac-core-color-tint_neutral-primary-a10);
  --ac-border-color_border-accent: var(--ac-core-accent-color_accent-primary);
  --ac-blockquote_blockquote-bg: transparent;
  --ac-blockquote_blockquote-text: var(--ac-text-color_text-primary);
  --ac-blockquote_blockquote-border: var(--ac-text-color_text-primary);
  --ac-button_button-primary-bg: var(--ac-core-accent-color_accent-primary);
  --ac-button_button-primary-bg-hover: var(--ac-core-accent-color_accent-primary-hover);
  --ac-button_button-primary-text: var(--ac-text-color_text-on-accent-primary);
  --ac-button_button-primary-border: transparent;
  --ac-button_button-primary-border-hover: transparent;
  --ac-button_button-secondary-bg: transparent;
  --ac-button_button-secondary-bg-hover: transparent;
  --ac-button_button-secondary-text: var(--ac-text-color_text-primary);
  --ac-button_button-secondary-border: transparent;
  --ac-button_button-secondary-border-hover: transparent;
  --ac-input_input-primary-bg: transparent;
  --ac-input_input-primary-bg-hover: transparent;
  --ac-input_input-primary-text: var(--ac-text-color_text-primary);
  --ac-input_input-primary-text-placeholder: var(--ac-core-color-tint_neutral-inverse-a20);
  --ac-input_input-primary-border: var(--ac-text-color_text-primary);
  --ac-input_input-primary-border-hover: var(--ac-text-color_text-primary);
  --ac-input_input-inverse-bg: transparent;
  --ac-input_input-inverse-bg-hover: transparent;
  --ac-input_input-inverse-text: var(--ac-text-color_text-inverse-primary);
  --ac-input_input-inverse-text-placeholder: var(--ac-core-color-tint_neutral-primary-a50);
  --ac-input_input-inverse-border: var(--ac-text-color_text-inverse-primary);
  --ac-input_input-inverse-border-hover: var(--ac-text-color_text-inverse-primary);
  --ac-input_input-control: var(--ac-core-accent-color_accent-primary);
  --ac-input_input-control-border: var(--ac-core-accent-color_accent-primary);
  --ac-card_card-primary-bg: var(--ac-background-color_bg-primary);
  --ac-card_card-primary-bg-hover: var(--ac-background-color_bg-primary);
  --ac-card_card-primary-text: var(--ac-text-color_text-primary);
  --ac-card_card-primary-border: var(--ac-border-color_border-secondary);
  --ac-card_card-secondary-bg: var(--ac-background-color_bg-secondary);
  --ac-card_card-secondary-bg-hover: var(--ac-background-color_bg-secondary);
  --ac-card_card-secondary-text: var(--ac-text-color_text-primary);
  --ac-card_card-secondary-border: var(--ac-border-color_border-secondary);
  --ac-card_card-accent-primary-bg: var(--ac-background-color_bg-accent-primary);
  --ac-card_card-accent-primary-bg-hover: var(--ac-background-color_bg-accent-primary);
  --ac-card_card-accent-primary-text: white;
  --ac-card_card-accent-primary-border: transparent;
  --ac-card_card-accent-secondary-bg: var(--ac-background-color_bg-accent-secondary);
  --ac-card_card-accent-secondary-bg-hover: var(--ac-background-color_bg-accent-secondary);
  --ac-card_card-accent-secondary-text: white;
  --ac-card_card-accent-secondary-border: transparent;
  --ac-card_card-accent-tertiary-bg: var(--ac-background-color_bg-accent-tertiary);
  --ac-card_card-accent-tertiary-bg-hover: var(--ac-background-color_bg-accent-tertiary);
  --ac-card_card-accent-tertiary-text: transparent;
  --ac-card_card-accent-tertiary-border: transparent;
  --ac-card_card-inverse-bg: var(--ac-background-color_bg-inverse);
  --ac-card_card-inverse-bg-hover: var(--ac-background-color_bg-inverse);
  --ac-card_card-inverse-text: var(--ac-text-color_text-inverse-primary);
  --ac-card_card-inverse-border: transparent;
  --ac-nav-link_nav-link-primary: var(--ac-text-color_text-primary);
  --ac-nav-link_nav-link-inverse: var(--ac-text-color_text-inverse-primary);
  --ac-text-link_link-primary: var(--ac-text-color_text-accent-on-primary);
  --ac-text-link_link-primary-hover: var(--ac-text-color_text-accent-on-primary-hover);
  --ac-text-link_link-secondary: var(--ac-text-color_text-primary);
  --ac-text-link_link-secondary-hover: var(--ac-core-color-tint_neutral-inverse-a60);
  --ac-text-link_link-inverse: var(--ac-text-color_text-accent-on-inverse);
  --ac-text-link_link-inverse-hover: var(--ac-text-color_text-accent-on-inverse-hover);
  --ac-radius_sm-radius: 0.25rem;
  --ac-radius_md-radius: 0.5rem;
  --ac-radius_lg-radius: 0.75rem;
  --ac-radius_xl-radius: 1rem;
  --ac-radius_round: 100rem;
  --ac-spacing_0_25x: 0.25rem;
  --ac-spacing_0_5x: 0.5rem;
  --ac-spacing_0_75x: 0.75rem;
  --ac-spacing_1x: 1rem;
  --ac-spacing_1_25x: 1.25rem;
  --ac-spacing_1_5x: 1.5rem;
  --ac-spacing_1_75x: 1.75rem;
  --ac-spacing_2x: 2rem;
  --ac-spacing_3x: 3rem;
  --ac-spacing_4x: 4rem;
  --ac-spacing_5x: 5rem;
  --ac-spacing_6x: 6rem;
  --ac-spacing_7x: 7rem;
  --ac-spacing_8x: 8rem;
  --ac-gap_xxs-gap: var(--ac-spacing_0_5x);
  --ac-gap_xs-gap: var(--ac-spacing_1x);
  --ac-gap_sm-gap: var(--ac-spacing_2x);
  --ac-gap_md-gap: var(--ac-spacing_3x);
  --ac-gap_lg-gap: var(--ac-spacing_4x);
  --ac-gap_xl-gap: var(--ac-spacing_5x);
  --ac-gap_xxl-gap: var(--ac-spacing_6x);
  --ac-image_image-radius: var(--ac-card_card-radius);
  --ac-button_button-radius: 0.75rem;
  --ac-button_button-padding-vertical: 1em;
  --ac-button_button-padding-horizontal: 1.5em;
  --ac-button_button-size: var(--ac-base-typography_base-font-size);
  --ac-input_input-radius: 0.75rem;
  --ac-input_input-padding-vertical: var(--ac-spacing_1x);
  --ac-input_input-padding-horizontal: var(--ac-spacing_1x);
  --ac-card_card-radius: 1rem;
  --ac-card_card-padding-sm: var(--ac-spacing_1_5x);
  --ac-card_card-padding: var(--ac-spacing_2x);
  --ac-container_container-width: 1280px;
  --ac-container_container-sm-width: 1000px;
  --ac-container_container-lg-width: 1440px;
  --ac-container_container-padding-horizontal: var(--ac-spacing_1x);
  --ac-nav_nav-height: 4rem;
  --ac-section_section-padding-vertical: var(--ac-spacing_8x);
  --ac-tag_tag-radius: 0.75rem;
  --ac-tag_tag-padding-vertical: var(--ac-spacing_0_25x);
  --ac-tag_tag-padding-horizontal: var(--ac-spacing_0_5x);
  --ac-slider_spacing-sm: var(--ac-spacing_1x);
  --ac-slider_5-slides: 5;
  --ac-slider_4-slides: 4;
  --ac-slider_3-slides: 3;
  --ac-slider_2-slides: 2;
  --ac-slider_1_5-slides: 1.5;
  --ac-slider_navigation: var(--ac-spacing_0_75x);
  --ac-width_xxs: 12rem;
  --ac-width-_-xs: 25rem;
  --ac-width_sm: 35rem;
  --ac-width-_-md: 40rem;
  --ac-width-_-lg: 50rem;
  --ac-width-_-xl: 60rem;
}

/* Generated from user-provided CSV variable exports. */